.main{
    text-align: center;
    font-style: italic;
}

.cool{
    color: crimson;
}
/*
.container{
    color: white;
    font-style: italic;
    background:teal;
    font-weight: bold;
}*/

/*<!-- CSS combinators -->*/
/* p is the child of .container */
/*container , p are selectors & between > is says 
the relationship between the selectors*/
/* > is called combinator*/
/*space is a next combinator*/
/* + will select next sibling*/


/* > is child selector */
.container > p{
background: violet;
}

.container-art p{
background: yellowgreen;
}

/* + will select next sibling*/
.one + p + p{
    color: blue;
}

/*~ select all next to class*/
.two ~ p{
    color: blue;
}

/*
button{
    height: 300px;
    width: 50%;
    background: cornflowerblue;
    transition: 0.2s;
}
button:hover{
    background:greenyellow;
    border-radius: 50%;
    transform: scale(1);
}
*/
button{
    height: 300px;
    width: 50%;
    /*background: cornflowerblue;*/
    background: url(https://media.istockphoto.com/photos/colored-powder-explosion-on-black-background-picture-id1057506940?k=20&m=1057506940&s=612x612&w=0&h=3j5EA6YFVg3q-laNqTGtLxfCKVR3_o6gcVZZseNaWGk=);
    background-size: cover;
    transition: 0.2s;
}
button:hover{
    background:greenyellow;
    border-radius: 50%;
    transform: scale(1);
}