.main {
  text-align: center;
  font-style: italic;
}

.cool {
  color: crimson;
}
/*
.container{
    color: white;
    font-style: italic;
    background:teal;
    font-weight: bold;
}*/

/*<!-- CSS combinators -->*/
/* p is the child of .container */
/*container , p are selectors & between > is says 
the relationship between the selectors*/
/* > is called combinator*/
/*space is a next combinator*/
/* + will select next sibling*/

/* > is child selector */
.container > p {
  background: violet;
}

.container-art p {
  background: yellowgreen;
}

/* + will select next sibling*/
.one + p + p {
  color: blue;
}

/*~ select all next to class*/
.two ~ p {
  color: blue;
}

/*
button{
    height: 300px;
    width: 50%;
    background: cornflowerblue;
    transition: 0.2s;
}
button:hover{
    background:greenyellow;
    border-radius: 50%;
    transform: scale(1);
}
*/
/*
button {
  height: 300px;
  width: 50%;
  background: cornflowerblue;
  background-size: cover;
  transition: 0.2s;
}
button:hover {
  background: greenyellow;
  border-radius: 50%;
  transform: scale(1);
} */

button {
  height: 300px;
  width: 50%;
  background: url(https://media.istockphoto.com/photos/colored-powder-explosion-on-black-background-picture-id1057506940?k=20&m=1057506940&s=612x612&w=0&h=3j5EA6YFVg3q-laNqTGtLxfCKVR3_o6gcVZZseNaWGk=),
    linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  background-blend-mode: color;
  background-size: cover;
}
button:hover {
  background: url(https://media.istockphoto.com/photos/colored-powder-explosion-on-black-background-picture-id1057506940?k=20&m=1057506940&s=612x612&w=0&h=3j5EA6YFVg3q-laNqTGtLxfCKVR3_o6gcVZZseNaWGk=);
  background-size: cover;
}

.good > p:nth-child(even) {
  color: tomato;
}

a{
    color: purple;
    text-decoration: none;
}

a:visited{
    color: red;
}

a:hover{
    color: seagreen;
}

a:active{
    color: springgreen;
}

/*
css units

px, %, rem, vh, vw

1 rem = 16px 
by default is is 16px, but we can change the rem
to change:
:root{
     font-size:16px; // now 1 rem is 16px
     font-size:20px; // now 1 rem is 20px
}
rem is useful because if in future we planned to change the proportional unit
we can change all the size in one line change.
if we give in px we need to change every where.

vh - view port height
vw - view port width

*/
.container{
    background-color: teal;
    width: 400px;
}

h2{
    background-color: pink;
    width: 50vw;
}